<nav class="navbar">
</nav>

<div class="container">

  <div class="search">
    <input
      type="number"
      placeholder="Enter User ID"
      [(ngModel)]="userId"
    />

    <button (click)="searchAlbums()">
      Search
    </button>
  </div>

  <p *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </p>

  <div *ngIf="searched && albums.length === 0 && !errorMessage">
    <p>No se encontraron Albums para este usuario.</p>
  </div>

  <div class="cards">
    <div class="card" *ngFor="let album of albums">
      <h3>{{ album.title }}</h3>
      <p><strong>Album ID:</strong> {{ album.id }}</p>
      <p><strong>User ID:</strong> {{ album.userId }}</p>
    </div>
  </div>

</div>
